@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-scrollbar: #eee;
  --color-scrollbar-hover: #bbb;
}

html,
body {
  height: 100%;
}

html {
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

html.dark {
  --color-scrollbar: #ebebf599;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-base);
  color: var(--color-text-2);
  background-color: var(--color-fill);
}

.dark footer {
  color: var(--color-text-3);
}

h1 {
  color: var(--color-heading);
  font-size: var(--fontSize-6);
  font-weight: var(--fontWeight-black);
  font-family: var(--font-heading);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--color-heading);
  font-weight: var(--fontWeight-bold);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

.icon {
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  fill: currentColor;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}
