@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

html {
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-base);
  color: rgba(var(--color-text-2));
  background-color: rgba(var(--color-fill));
}

.dark footer {
  color: rgba(var(--color-text-3));
}

h1 {
  color: rgba(var(--color-heading));
  font-size: var(--fontSize-6);
  font-weight: var(--fontWeight-black);
}

h2,
h3,
h4,
h5,
h6 {
  color: rgba(var(--color-heading));
  font-weight: var(--fontWeight-bold);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

.icon {
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  fill: currentColor;
  pointer-events: none;
}
