/**
 * Colors Base
 * -------------------------------------------------------------------------- */
:root {
  --color-text-light-1: 34, 34, 34;
  --color-text-light-2: 34, 34, 34, 0.75;
  --color-text-light-3: (34, 34, 34, 0.33);

  --color-text-dark-1: 255, 255, 245, 0.86;
  --color-text-dark-2: 235, 235, 245, 0.6;
  --color-text-dark-3: 235, 235, 245, 0.38;
}

/**
 * Colors Theme
 * -------------------------------------------------------------------------- */
:root {
  --color-fill: 255, 255, 255;

  --color-text-1: var(--color-text-light-1);
  --color-text-2: var(--color-text-light-2);
  --color-text-3: var(--color-text-light-3);
}

.dark {
  --color-fill: 30, 30, 32;

  --color-text-1: var(--color-text-dark-1);
  --color-text-2: var(--color-text-dark-2);
  --color-text-3: var(--color-text-dark-3);
}

/**
 * Typography
 * -------------------------------------------------------------------------- */
:root {
  --fontFamily-sans: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --fontFamily-serif: 'Merriweather', 'Georgia', Cambria, 'Times New Roman',
    Times, serif;

  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);

  --fontSize-root: 16px;
  --fontSize-xs: 0.75rem;
  --fontSize-sm: 0.875rem;
  --fontSize-base: 1rem;

  /*  1.333 Perfect Fouth Scale */
  --fontSize-0: 0.75rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.333rem;
  --fontSize-3: 1.778rem;
  --fontSize-4: 2.37rem;
  --fontSize-5: 3.16rem;
  --fontSize-6: 4.21rem;

  --fontWeight-normal: 400;
  --fontWeight-bold: 700;
  --fontWeight-black: 900;
}

/**
 * Layouts
 * -------------------------------------------------------------------------- */
:root {
  --header-height: 72px;
  --footer-height: 96px;
  --page-top: 48px;
  --page-gutter: 24px;
  --content-width: 72rem;
  --content-height: calc(
    100vh - var(--header-height) - (var(--page-top) * 2) - var(--footer-height)
  );
}
