<footer
  class="flex h-footer-height items-center justify-center border-t px-page-gutter">
  <small>
    Copyright &copy <span>{new Date().getFullYear()}</span> Chen Xi - All Rights
    Reserved
  </small>
</footer>
