---
import { Icon } from 'astro-icon'

const navbar = [['Blog', '/posts']]

const { pathname } = Astro.url

const isCurrentPage = (url: string) => {
  return pathname.replace(/(\/.*?)\/$/, '$1') === url
}
---

<header class="flex h-header-height justify-center px-page-gutter">
  <div class="flex w-full max-w-content items-center justify-between">
    <a
      class="flex items-center whitespace-nowrap text-sm font-semibold"
      href={isCurrentPage('/') ? '#' : '/'}>
      Chen Xi
      <svg
        class="icon ml-1 text-blue-500"
        version="1.1"
        viewBox="0,0,24,24"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M22.5 12.5c0-1.58-.875-2.95-2.148-3.6.154-.435.238-.905.238-1.4 0-2.21-1.71-3.998-3.818-3.998-.47 0-.92.084-1.336.25C14.818 2.415 13.51 1.5 12 1.5s-2.816.917-3.437 2.25c-.415-.165-.866-.25-1.336-.25-2.11 0-3.818 1.79-3.818 4 0 .494.083.964.237 1.4-1.272.65-2.147 2.018-2.147 3.6 0 1.495.782 2.798 1.942 3.486-.02.17-.032.34-.032.514 0 2.21 1.708 4 3.818 4 .47 0 .92-.086 1.335-.25.62 1.334 1.926 2.25 3.437 2.25 1.512 0 2.818-.916 3.437-2.25.415.163.865.248 1.336.248 2.11 0 3.818-1.79 3.818-4 0-.174-.012-.344-.033-.513 1.158-.687 1.943-1.99 1.943-3.484zm-6.616-3.334l-4.334 6.5c-.145.217-.382.334-.625.334-.143 0-.288-.04-.416-.126l-.115-.094-2.415-2.415c-.293-.293-.293-.768 0-1.06s.768-.294 1.06 0l1.77 1.767 3.825-5.74c.23-.345.696-.436 1.04-.207.346.23.44.696.21 1.04z">
        </path>
      </svg>
    </a>

    <nav>
      <ul class="flex items-center gap-3">
        {
          navbar.map(([name, href]) => {
            return (
              <li>
                <a
                  class="hover:bg-muted/10 rounded-md px-2.5 py-1.5 text-[15px] font-semibold transition focus:outline-none focus:ring focus:ring-inset"
                  {href}>
                  {name}
                </a>
              </li>
            )
          })
        }
        <li id="theme-btn">
          <Icon
            class="cursor-pointer dark:hidden"
            width="20"
            height="20"
            name="tabler:sun"
          />

          <Icon
            class="hidden cursor-pointer dark:inline"
            width="20"
            height="20"
            name="tabler:moon"
          />
        </li>
      </ul>
    </nav>
  </div>
</header>
