---
import { Icon } from 'astro-icon'

const navbar = [['Blog', '/blog']]

const { pathname } = Astro.url

const isCurrentPage = (url: string) => {
  return pathname.replace(/(\/.*?)\/$/, '$1') === url
}
---

<header class="flex h-header-height justify-center px-page-gutter">
  <div class="flex w-full max-w-content items-center justify-between">
    <a class="font-semibold" href={isCurrentPage('/') ? '#' : '/'}> Chen Xi</a>
    <nav>
      <ul class="flex items-center gap-3">
        {
          navbar.map(([name, href]) => {
            return (
              <li>
                <a
                  class="rounded-md px-2.5 py-1.5 text-[15px] font-semibold transition hover:bg-muted/10 focus:outline-none focus:ring focus:ring-inset"
                  {href}>
                  {name}
                </a>
              </li>
            )
          })
        }
        <li id="theme-btn">
          <Icon
            class="cursor-pointer dark:hidden"
            width="20"
            height="20"
            name="tabler:sun"
          />

          <Icon
            class="hidden cursor-pointer dark:inline"
            width="20"
            height="20"
            name="tabler:moon"
          />
        </li>
      </ul>
    </nav>
  </div>
</header>
