<section class="py-16 md:w-1/2">
  <h1 class="mb-4">Hello.</h1>
  <p class="mb-4">
    I'm <strong>Chen Xi</strong>, a front-end developer. currently based in
    China.
  </p>
  <p class="mb-4">
    My passion is to come up with ideas and turn them into reality. In this a
    Blog where I jot down thoughts, essays, and short stories once in a while.
  </p>
  <p class="mb-4">
    You can find me on
    <strong>
      <a href="https://github.com/chenxi24">Github</a>
    </strong>
    and
    <strong>
      <a href="https://space.bilibili.com/301489308">Bilibili</a>
    </strong>
  </p>
</section>
<style>
  a {
    white-space: nowrap;
    position: relative;
  }

  a::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 66%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    background-color: var(--hero-link);
  }

  a:hover::after {
    top: 0;
  }
</style>
