<section class="py-16 md:w-1/2">
  <h1 class="mb-4">Hello.</h1>
  <p class="mb-4">
    I'm <strong>Chen Xi</strong>, a front-end developer. currently based in
    China.
  </p>
  <p class="mb-4">
    My passion is to come up with ideas and turn them into reality. In this a
    Blog where I jot down thoughts, essays, and short stories once in a while.
  </p>
  <p class="mb-4">
    You can find me on
    <strong>
      <a href="https://github.com/chenxi24">Github</a>
    </strong>
    and
    <strong>
      <a href="https://space.bilibili.com/301489308">Bilibili</a>
    </strong>
  </p>
</section>
